
/* MADE MAJOR CHANGES  */
/* Removes unnecessary css and classes from html and css file */
/* removed home page bug */


.data{
    min-width: 400px;
    margin: auto;
}
.database{
    width: 100%;

}
.container{
    display: flex;
    height: 100vh;
}
.typeOfhackathon{
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-container{
    max-width: 600px;

}
.text-container h1{
    font-size: 80px;
    font-weight: 400;
}
.text-container a{
    text-decoration: none;
    background: #030d94;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;

}
.text-container a:hover{
    background-color:rgb(230, 11, 11);
    cursor: pointer;
}
.Avishkar{
    max-width: 800px;
    margin-top: 12%;
    margin-left: 50%;

}
